button {
  background-color: #80deea;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
  min-height: 4rem;
  min-width: 4rem;
  padding: 1rem;

  &:disabled {
    background-color: #dbdbdb;
    box-shadow: none;
  }
}

.form-error {
  background-color: #f44336;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  margin: 2rem auto;
  max-width: 48rem;
  min-width: 32rem;
  padding: 2rem;
  text-align: center;
}
