#generated-recipe {
  @media screen {
    margin: 3rem auto;
    max-width: 48rem;
    min-width: 32rem;
    padding: 0 2rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
  }

  @media print {
    margin: 0;
    max-width: auto;
    min-width: auto;
  }
}
